.AppHeader {
  padding-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  color: #252525;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
